<h1>
  Edit improvement plan #<%= @improvement_plan.id %>
</h1>

<hr>

<form action="/update_improvement_plan/<%= @improvement_plan.id %>" method="post">

  <div class="form-group">
    <label for="state">
      State
    </label>

    <input type="text" id="state" name="state" class="form-control" value="<%= @improvement_plan.state %>">
  </div>


  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <textarea id="comments" name="comments" class="form-control" rows="3"><%= @improvement_plan.comments %></textarea>
  </div>

  <div class="form-group">
    <label for="coach_id">
      Coach
    </label>

    <input type="text" id="coach_id" name="coach_id" class="form-control" value="<%= @improvement_plan.coach_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update improvement plan
  </button>
</form>

<hr>

<a href="/improvement_plans">
  Go back
</a>
