<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All improvement plans
    </h1>

    <a href="/improvement_plans/new" class="btn btn-block btn-outline-secondary">
      Add a new improvement plan
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          State
        </th>

        <th>
          User
        </th>

        <th>
          Comments
        </th>

        <th>
          Coach
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @improvement_plans.each do |improvement_plan| %>
      <tr>
        <!-- Display improvement_plan.id start -->
        <td>
          <%= improvement_plan.id %>
        </td>
        <!-- Display improvement_plan.id end -->

        <!-- Display improvement_plan.state start -->
        <td>
          <%= improvement_plan.state %>
        </td>
        <!-- Display improvement_plan.state end -->

        <!-- Display improvement_plan.user_id start -->
        <td>
          <%= improvement_plan.user_id %>
        </td>
        <!-- Display improvement_plan.user_id end -->

        <!-- Display improvement_plan.comments start -->
        <td>
          <%= improvement_plan.comments %>
        </td>
        <!-- Display improvement_plan.comments end -->

        <!-- Display improvement_plan.coach_id start -->
        <td>
          <%= improvement_plan.coach_id %>
        </td>
        <!-- Display improvement_plan.coach_id end -->

        <!-- Display improvement_plan.created_at start -->
        <td>
          <%= time_ago_in_words(improvement_plan.created_at) %> ago
        </td>
        <!-- Display improvement_plan.created_at end -->

        <!-- Display improvement_plan.updated_at start -->
        <td>
          <%= time_ago_in_words(improvement_plan.updated_at) %> ago
        </td>
        <!-- Display improvement_plan.updated_at end -->

        <td>
          <a href="/improvement_plans/<%= improvement_plan.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
