<% if @improvement_plan.present? %>
  <% if @improvement_plan.errors.any? %>
    <% @improvement_plan.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new improvement plan
</h1>


<hr>

<form action="/create_improvement_plan" method="post">

  <div class="form-group">
    <label for="state">
      State
    </label>

    <input type="text" id="state" name="state" class="form-control" value="<%= @improvement_plan.state %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <textarea id="comments" name="comments" class="form-control" rows="3"><%= @improvement_plan.comments %></textarea>
  </div>

  <div class="form-group">
    <label for="coach_id">
      Coach
    </label>

    <input type="text" id="coach_id" name="coach_id" class="form-control" value="<%= @improvement_plan.coach_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create improvement plan
  </button>
</form>

<hr>

<a href="/improvement_plans">
  Go back
</a>
