<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Improvement plan #<%= @improvement_plan.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/improvement_plans" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @improvement_plan.user %>
          <a href="/improvement_plans/<%= @improvement_plan.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit improvement_plan
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @improvement_plan.user %>
          <a href="/delete_improvement_plan/<%= @improvement_plan.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete improvement_plan
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        State
      </dt>
      <dd>
        <%= @improvement_plan.state %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @improvement_plan.user.present? %>
          <a href="/users/<%= @improvement_plan.user_id %>">
            <%= @improvement_plan.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Comments
      </dt>
      <dd>
        <%= @improvement_plan.comments %>
      </dd>

      <dt>
        Coach
      </dt>
      <dd>
        <%= @improvement_plan.coach_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@improvement_plan.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@improvement_plan.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "improvement_plan_templates/improvement_plan_goals" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "improvement_plan_templates/improvement_plan_coaches" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "improvement_plan_templates/improvement_plan_coachs" %>
  </div>
</div>
