<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Improvement plan #<%= @improvement_plan.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/improvement_plans" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link improvement_plan start -->
      <div class="col">
        <% if current_user == @improvement_plan.user %>
          <a href="/improvement_plans/<%= @improvement_plan.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit improvement_plan
          </a>
        <% end %>
      </div>
      <!-- Edit link improvement_plan end -->

      <!-- Delete link improvement_plan start -->
      <div class="col">
        <% if current_user == @improvement_plan.user %>
          <a href="/delete_improvement_plan/<%= @improvement_plan.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete improvement_plan
          </a>
        <% end %>
      </div>
      <!-- Delete link improvement_plan end -->
    </div>

    <dl>
      <dt>
        State
      </dt>
      <!-- Display state start -->
      <dd>
        <%= @improvement_plan.state %>
      </dd>
      <!-- Display state end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @improvement_plan.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Comments
      </dt>
      <!-- Display comments start -->
      <dd>
        <%= @improvement_plan.comments %>
      </dd>
      <!-- Display comments end -->

      <dt>
        Coach
      </dt>
      <!-- Display coach_id start -->
      <dd>
        <%= @improvement_plan.coach_id %>
      </dd>
      <!-- Display coach_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@improvement_plan.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@improvement_plan.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "improvement_plan_templates/improvement_plan_goals" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "improvement_plan_templates/improvement_plan_coaches" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "improvement_plan_templates/improvement_plan_coachs" %>
  </div>
</div>
<!-- Show Page Customization end -->
