<h1>
  Edit action step #<%= @action_step.id %>
</h1>

<hr>

<form action="/update_action_step/<%= @action_step.id %>" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @action_step.description %></textarea>
  </div>

  <div class="form-group">
    <label for="target_date">
      Target date
    </label>

    <input type="text" id="target_date" name="target_date" class="form-control" value="<%= @action_step.target_date %>">
  </div>

  <div class="form-group">
    <label for="resources_needed">
      Resources needed
    </label>

    <textarea id="resources_needed" name="resources_needed" class="form-control" rows="3"><%= @action_step.resources_needed %></textarea>
  </div>

  <div class="form-group">
    <label for="implementation_specifics">
      Implementation specifics
    </label>

    <textarea id="implementation_specifics" name="implementation_specifics" class="form-control" rows="3"><%= @action_step.implementation_specifics %></textarea>
  </div>

  <div class="form-group">
    <label for="measures_of_success">
      Measures of success
    </label>

    <textarea id="measures_of_success" name="measures_of_success" class="form-control" rows="3"><%= @action_step.measures_of_success %></textarea>
  </div>

  <div class="form-group">
    <label for="lead">
      Lead
    </label>

    <textarea id="lead" name="lead" class="form-control" rows="3"><%= @action_step.lead %></textarea>
  </div>

  <div class="form-group">
    <label for="goal_id">
      Goal
    </label>

    <%= select_tag(:goal_id, options_from_collection_for_select(Goal.all, :id, :improvement_plan_id, @action_step.goal_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update action step
  </button>
</form>

<hr>

<a href="/action_steps">
  Go back
</a>
