<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All action steps
    </h1>

    <a href="/action_steps/new" class="btn btn-block btn-outline-secondary">
      Add a new action step
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Target date
        </th>

        <th>
          Resources needed
        </th>

        <th>
          Implementation specifics
        </th>

        <th>
          Measures of success
        </th>

        <th>
          Lead
        </th>

        <th>
          Goal
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @action_steps.each do |action_step| %>
      <tr>
        <!-- Display action_step.id start -->
        <td>
          <%= action_step.id %>
        </td>
        <!-- Display action_step.id end -->

        <!-- Display action_step.description start -->
        <td>
          <%= action_step.description %>
        </td>
        <!-- Display action_step.description end -->

        <!-- Display action_step.target_date start -->
        <td>
          <%= action_step.target_date %>
        </td>
        <!-- Display action_step.target_date end -->

        <!-- Display action_step.resources_needed start -->
        <td>
          <%= action_step.resources_needed %>
        </td>
        <!-- Display action_step.resources_needed end -->

        <!-- Display action_step.implementation_specifics start -->
        <td>
          <%= action_step.implementation_specifics %>
        </td>
        <!-- Display action_step.implementation_specifics end -->

        <!-- Display action_step.measures_of_success start -->
        <td>
          <%= action_step.measures_of_success %>
        </td>
        <!-- Display action_step.measures_of_success end -->

        <!-- Display action_step.lead start -->
        <td>
          <%= action_step.lead %>
        </td>
        <!-- Display action_step.lead end -->

        <!-- Display action_step.goal_id start -->
        <td>
          <%= action_step.goal.improvement_plan_id %>
        </td>
        <!-- Display action_step.goal_id end -->

        <!-- Display action_step.created_at start -->
        <td>
          <%= time_ago_in_words(action_step.created_at) %> ago
        </td>
        <!-- Display action_step.created_at end -->

        <!-- Display action_step.updated_at start -->
        <td>
          <%= time_ago_in_words(action_step.updated_at) %> ago
        </td>
        <!-- Display action_step.updated_at end -->

        <td>
          <a href="/action_steps/<%= action_step.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @action_steps, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
