<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Action step #<%= @action_step.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/action_steps" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/action_steps/<%= @action_step.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit action step
        </a>
      </div>

      <div class="col">
        <a href="/delete_action_step/<%= @action_step.id %>" class="btn btn-block btn-outline-secondary">
          Delete action step
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @action_step.description %>
      </dd>

      <dt>
        Target date
      </dt>
      <dd>
        <%= @action_step.target_date %>
      </dd>

      <dt>
        Resources needed
      </dt>
      <dd>
        <%= @action_step.resources_needed %>
      </dd>

      <dt>
        Implementation specifics
      </dt>
      <dd>
        <%= @action_step.implementation_specifics %>
      </dd>

      <dt>
        Measures of success
      </dt>
      <dd>
        <%= @action_step.measures_of_success %>
      </dd>

      <dt>
        Lead
      </dt>
      <dd>
        <%= @action_step.lead %>
      </dd>

      <dt>
        Goal
      </dt>
      <dd>
        <% if @action_step.goal.present? %>
          <a href="/goals/<%= @action_step.goal_id %>">
            <%= @action_step.goal.improvement_plan_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@action_step.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@action_step.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

