<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All coach assignments
    </h1>

    <a href="/coach_assignments/new" class="btn btn-block btn-outline-secondary">
      Add a new coach assignment
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "coach_assignment_templates/coach_assignments_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Improvement
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @coach_assignments.each do |coach_assignment| %>
      <tr>
        <td>
          <%= coach_assignment.id %>
        </td>

        <td>
          <% if coach_assignment.user.present? %>
            <a href="/users/<%= coach_assignment.user.id %>">
              <%= coach_assignment.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <% if coach_assignment.improvement.present? %>
            <a href="/improvement_plans/<%= coach_assignment.improvement.id %>">
              <%= coach_assignment.improvement.state %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(coach_assignment.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(coach_assignment.updated_at) %> ago
        </td>

        <td>
          <a href="/coach_assignments/<%= coach_assignment.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @coach_assignments, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
