<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Coach assignment #<%= @coach_assignment.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/coach_assignments" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/coach_assignments/<%= @coach_assignment.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit coach assignment
        </a>
      </div>

      <div class="col">
        <a href="/delete_coach_assignment/<%= @coach_assignment.id %>" class="btn btn-block btn-outline-secondary">
          Delete coach assignment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @coach_assignment.user.present? %>
          <a href="/users/<%= @coach_assignment.user_id %>">
            <%= @coach_assignment.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Improvement
      </dt>
      <dd>
        <% if @coach_assignment.improvement.present? %>
          <a href="/improvement_plans/<%= @coach_assignment.improvement_id %>">
            <%= @coach_assignment.improvement.state %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@coach_assignment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@coach_assignment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

