<form action="/create_action_step_from_goal" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @action_step.description %></textarea>
  </div>

  <div class="form-group">
    <label for="target_date">
      Target date
    </label>

    <input type="text" id="target_date" name="target_date" class="form-control" value="<%= @action_step.target_date %>">
  </div>

  <div class="form-group">
    <label for="resources_needed">
      Resources needed
    </label>

    <textarea id="resources_needed" name="resources_needed" class="form-control" rows="3"><%= @action_step.resources_needed %></textarea>
  </div>

  <div class="form-group">
    <label for="implementation_specifics">
      Implementation specifics
    </label>

    <textarea id="implementation_specifics" name="implementation_specifics" class="form-control" rows="3"><%= @action_step.implementation_specifics %></textarea>
  </div>

  <div class="form-group">
    <label for="measures_of_success">
      Measures of success
    </label>

    <textarea id="measures_of_success" name="measures_of_success" class="form-control" rows="3"><%= @action_step.measures_of_success %></textarea>
  </div>

  <div class="form-group">
    <label for="lead">
      Lead
    </label>

    <textarea id="lead" name="lead" class="form-control" rows="3"><%= @action_step.lead %></textarea>
  </div>

  <input type="hidden" name="goal_id" value="<%= @goal.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create action step
  </button>
</form>
