<!-- Form action_step start -->
<form action="/create_action_step_from_goal" method="post">
<!-- Form action_step end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <textarea id="description" name="description" class="form-control" rows="3"><%= @action_step.description %></textarea>
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <!-- Label and input for target_date start -->
  <div class="form-group">
    <label for="target_date">
      Target date
    </label>

    <!-- Input for target_date start -->
    <input type="text" id="target_date" name="target_date" class="form-control" value="<%= @action_step.target_date %>">
    <!-- Input for target_date end -->
  </div>
  <!-- Label and input for target_date end -->

  <!-- Label and input for resources_needed start -->
  <div class="form-group">
    <label for="resources_needed">
      Resources needed
    </label>

    <!-- Input for resources_needed start -->
    <textarea id="resources_needed" name="resources_needed" class="form-control" rows="3"><%= @action_step.resources_needed %></textarea>
    <!-- Input for resources_needed end -->
  </div>
  <!-- Label and input for resources_needed end -->

  <!-- Label and input for implementation_specifics start -->
  <div class="form-group">
    <label for="implementation_specifics">
      Implementation specifics
    </label>

    <!-- Input for implementation_specifics start -->
    <textarea id="implementation_specifics" name="implementation_specifics" class="form-control" rows="3"><%= @action_step.implementation_specifics %></textarea>
    <!-- Input for implementation_specifics end -->
  </div>
  <!-- Label and input for implementation_specifics end -->

  <!-- Label and input for measures_of_success start -->
  <div class="form-group">
    <label for="measures_of_success">
      Measures of success
    </label>

    <!-- Input for measures_of_success start -->
    <textarea id="measures_of_success" name="measures_of_success" class="form-control" rows="3"><%= @action_step.measures_of_success %></textarea>
    <!-- Input for measures_of_success end -->
  </div>
  <!-- Label and input for measures_of_success end -->

  <!-- Label and input for lead start -->
  <div class="form-group">
    <label for="lead">
      Lead
    </label>

    <!-- Input for lead start -->
    <textarea id="lead" name="lead" class="form-control" rows="3"><%= @action_step.lead %></textarea>
    <!-- Input for lead end -->
  </div>
  <!-- Label and input for lead end -->

  <!-- Label and input for goal_id start -->
  <!-- Input for goal_id start -->
  <input type="hidden" name="goal_id" value="<%= @goal.id %>">
  <!-- Input for goal_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create action step
  </button>
</form>
