<!-- Validation failure messages -->
<% if @goal.errors.any? %>
  <% @goal.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit goal #<%= @goal.id %>
</h1>

<hr>

<!-- Form goal start -->
<form action="/update_goal/<%= @goal.id %>" method="post">
<!-- Form goal end -->

  <!-- Label and input for improvement_plan_id start -->
  <div class="form-group">
    <label for="improvement_plan_id">
      Improvement plan
    </label>

    <!-- Input for improvement_plan_id start -->
    <input type="text" id="improvement_plan_id" name="improvement_plan_id" class="form-control" value="<%= @goal.improvement_plan_id %>">
    <!-- Input for improvement_plan_id end -->
  </div>
  <!-- Label and input for improvement_plan_id end -->

  <!-- Label and input for comments start -->
  <div class="form-group">
    <label for="comments">
      Comments
    </label>

    <!-- Input for comments start -->
    <textarea id="comments" name="comments" class="form-control" rows="3"><%= @goal.comments %></textarea>
    <!-- Input for comments end -->
  </div>
  <!-- Label and input for comments end -->

  <button class="btn btn-block btn-outline-secondary">
    Update goal
  </button>
</form>

<hr>

<a href="/goals">
  Go back
</a>
