<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Goal #<%= @goal.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/goals" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/goals/<%= @goal.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit goal
        </a>
      </div>

      <div class="col">
        <a href="/delete_goal/<%= @goal.id %>" class="btn btn-block btn-outline-secondary">
          Delete goal
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Improvement plan
      </dt>
      <dd>
        <% if @goal.improvement_plan.present? %>
          <a href="/improvement_plans/<%= @goal.improvement_plan_id %>">
            <%= @goal.improvement_plan.state %>
          </a>
        <% end %>
      </dd>

      <dt>
        Comments
      </dt>
      <dd>
        <%= @goal.comments %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@goal.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@goal.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "goal_templates/goal_action_steps" %>
  </div>
</div>
